@font-face {
  src: url(../../fonts/Mulish/Mulish.ttf) format('ttf');
  font-family: 'Mulish';
}

.page {
  width: 1600px;
  padding: 0;
  margin: 0 auto;
  background: #fcfcfd;

  font-family: 'Mulish';
  font-style: normal;
  text-decoration: none;
  color: black;
}
