.header {
  overflow: hidden;
  padding-top: 48px;
  position: relative;
}


/* Фоновые элементы */


.header__rectangle-l {
  width: 1029px;
  height: 848px;

  position: absolute;
  top: 0;
  z-index: 0;

  background: #56CCF2;
}

.header__rectangles {
  width: 1128px;
  width: 1107.84px;
  height: 600.61px;
  background: #56CCF2;

  position: absolute;
  top: 0;
  left: 536px;
  z-index: 1;

  transform: rotate(-65deg);
}

.header__rectangle-m {
  height: 298.23px;
  width: 1128px;
  opacity: .5;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
    #56CCF2;
  border-radius: 500px;
}

.header__rectangle-s {
  width: 956.92px;
  height: 53.02px;
  position: absolute;
  z-index: 2;
  top: 303px;
  right: -315px;
  transform: rotate(-65deg);

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 100%),
    #56CCF2;
  border-radius: 500px;
}


/* Навигация */


.header__list {
  width: 938px;
  height: 36px;
  margin-left: 227px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;

  font-weight: 700;
  text-align: center;
}

.header__logo {
  font-size: 32px;
  line-height: 100%;
  margin-right: 143px;
  color: white;
}

.nav {
  width: 558px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  list-style-type: none;

  text-align: center;
  font-size: 16px;
  line-height: 150%;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.header__link {
  margin: 2px 0 0 130px;
  position: relative;

}

.header__link-text {
  display: block;
  padding: 0;
  margin: 0 0 6px;
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  color: white;
}

.header__rectangle {
  width: 64px;
  height: 4px;
  background: linear-gradient(
    180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
    #FCC304;
  border-radius: 32px;
}


/* Заголовок + текст */


.header__column {
  margin: 74px 0 82px 325px;
  display: flex;
  flex-direction: column;
  width: 754px;
  position: relative;
  z-index: 2;

  color: white;
}

.header__title {
  padding: 0;
  margin: 0 0 22px;

  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 150%;
}

.header__subtitle {
  padding: 0;
  margin: 0 0 42px;
  height: 72px;

  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.header__button {
  width: 226px;
  height: 56px;

  background: #fff;
  border-radius: 64px;
  display: flex;
}

.header__button-link {
  margin: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-decoration: none;
  color: #253757;
}


/* Интро */


.header__intro {
  width: 1146px;
  height: 640px;
  margin-left: 227px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-image: url('../../images/intro.png');
  background-size: 1146px 640px;
  object-fit: cover;
}

/* Слайдер */

.header__slider {
  position: absolute;
  z-index: 1;
  width: 162.46px;
  height: 64px;
  left: -81.23px;
  top: 288px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
    #FCC304;
  border-radius: 50px;
}

.header__vector-left {
  width: 16px;
  height: 16px;
  margin-left: 34px;

  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
  rotate: 45deg;
}

.header__vector-right {
  width: 16px;
  height: 16px;
  margin-right: 34px;

  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
  rotate: -45deg;
}

.header__intro-text {
  position: absolute;
  bottom: 86px;
  left: 98px;
}

.header__intro-title {
  padding: 0;
  margin: 0 0 4px;

  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
}

.header__intro-paragraph {
  margin: 0;
  width: 264px;

  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  color: white;
}

.header__social {
  width: 19px;
  height: 416px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: -83px;
  text-orientation: mixed;
  writing-mode: vertical-lr;

  font-weight: 800;
  font-size: 12.6px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #253757;
}

.header__social-link {
  text-decoration: none;
  color: black;
}


/* Интро */


.intro {
  width: 742px;
  margin: 0 auto;
  padding: 165px 160px;
}

.title {
  margin: 0 0 19px;
  display: flex;
  align-items: center;
}

.title__vector {

}

.title__text {
  padding: 0;
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #56CCF2;
}

.intro__text {
  padding: 0;
  margin: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #253757;
}


/* Сервисы */


.services {
  min-width: 1600px;
  margin: 0 auto;
  background: white;
}

.services__title {
  margin: 0;
  padding: 0;
  position: relative;
  top: -24px;

  font-weight: 900;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  color: #253757;
}

.services__columns {
  margin: 0;
  padding: 160px 324px 162px 227px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.services__column {
  width: 264px;
}

.services__column-pic {
  width: 160px;
  height: 160px;
  margin: 0 64px 103px 0;
  border-radius: 50%;
  object-fit: cover;
}

.services__column-title {
  padding: 0;
  margin: 0 0 32px;

  font-weight: 900;
  font-size: 19.6px;
  line-height: 140%;
  color: #253757;
}

.services__column-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #334563;
  mix-blend-mode: normal;
}


/* Шаги */


.steps {
  margin: 0;
  position: relative;
  padding: 160px 0 191px;
  border-right: 64px solid white;
  border-left: 64px solid white;
}

.steps__header {
  margin-left: 163px;
  padding: 0;
  width: 362px;
}

.steps__header-title {
  margin: 0 0 64px;

  font-weight: 900;
  font-size: 32px;
  line-height: 140%;
  color: #253757;
}

.steps__header-text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #334563;
  mix-blend-mode: normal;
}

.steps__header-paragraph {
  margin: 24px 0;
}

.steps__list {
  width: 538px;
  height: 885px;
  margin: 0 0 0 187px;
  padding: 0;
  position: absolute;
  top: 158px;
  right: 222px;
  list-style-type: none;
}

.steps__list-item {
  width: 240px;
  height: 256px;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  padding: 48px 32px;
  background: white;
  box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
  text-align: center;
}

.steps__list-item:nth-of-type(1) {
  top: 112px;
  left: 0;
}

.steps__list-item:nth-of-type(2) {
  right: 0;
}

.steps__list-item:nth-of-type(3) {
  top: 496px;
  left: 0;
}

.steps__list-item:nth-of-type(4) {
  top: 383px;
  right: 0;
}

.steps__list-title {
  margin: 0 0 4px;

  font-weight: 900;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.steps__list-item:nth-of-type(1) .steps__list-title {
  background: linear-gradient(
    90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
     #56CCF2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.steps__list-item:nth-of-type(2) .steps__list-title {
  background: linear-gradient(
    90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
     #FCC304;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.steps__list-item:nth-of-type(3) .steps__list-title {
  background: linear-gradient(
    90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
     #03D542;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.steps__list-item:nth-of-type(4) .steps__list-title {
  background: linear-gradient(
    90deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
     #F25656;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.steps__list-text {
  margin: 0;

  font-weight: 400;
  font-size: 12.6px;
  line-height: 150%;
  color: #253757;
  mix-blend-mode: normal;
}

.steps__list-rectangle {
  width: 421.91px;
  height: 16px;
  border-radius: 500px;
  transform: rotate(-65deg);
  position: relative;
  top: -67px;
  left: -120px;
  z-index: -5;
}

.steps__list-item:nth-of-type(1) .steps__list-rectangle {
  background: linear-gradient(
    180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
     #56CCF2;
}

.steps__list-item:nth-of-type(2) .steps__list-rectangle {
  background: linear-gradient(
    180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
     #FCC304;
}

.steps__list-item:nth-of-type(3) .steps__list-rectangle {
  background: linear-gradient(
    180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
     #03D542;
}

.steps__list-item:nth-of-type(4) .steps__list-rectangle {
  background: linear-gradient(
    180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%),
     #F25656;
}














/* .skrepka {
  width: 200px;
  height: 400px;
  border-radius: 100px;
  border: -50px solid;
  rotate: 25deg;
  outline: 80px solid #fcfcfd;
  outline-offset: -100px;
  background: linear-gradient(-40deg, blue, red);
}

.animation {
  opacity: .65;
  transition-property: filter, opacity;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.25, 1.25);
}

.animation:hover {
  opacity: 1;
  filter: hue-rotate(360deg);
} */
